 <%= index_display_trick_header %>

<%= form_tag '/tricks', method: 'get' do %>
<%= label_tag 'Search for Trick:' %>
<%= text_field_tag 'name' %>
<%= submit_tag 'DO MAGIC' %>






<% end %>

<% if @tricks.blank? %>

    <h2>No tricks yet! Enter your tricks <%= link_to "here!", new_trick_path%></h2>


<% else %>

<ul>
    <% @tricks.each do |t|%>
      <li><%= link_to t.name, trick_path(t) %> suggested by: <%= t.user.username%></li>
      <% end %>
</ul>

<% end %>

