<h1> MAGICIAN: <%=@user.username %></h1>



<%= display_tricks %>

<ul>
    <% @user.tricks.each do |tk|%>
      <li><%= link_to tk.name, trick_path(tk) %></li>
    <% end %>
</ul>

<%= display_tips %>

<ul>
    <% @user.tips.each do |tp|%>
      <li><%= link_to tp.note, tip_path(tp) %></li>
    <% end %>
</ul>



