 <%= index_display_tip_header %>




<% if @tips.blank? %>

    <h2>No tips yet! Enter your tips <%= link_to "here!", new_tip_path%></h2>

<% else %>

<ul>
  <% @tips.each do |n|%>
    <li><%= n.user.username%> advised: "<%= link_to n.note, tip_path(n) %>" about the trick: <%= link_to n.trick.name, trick_path(n.trick_id) %></li>
  <% end %>
</ul>

<% end %>

